body {
	background-color: white;
}

div.container {
	background-color: white;
	height: 100%;
	margin-top: 15px;
	border-radius: 5px;
}

div.topBanner {
	padding: 15px 5px 5px 15px;
}

img.solitaLogo {
	display:inline;
}

h1.title {
	color: #666;
	display:inline;
	font-family: "Warnock Pro", "Goudy Old Style","Palatino","Book Antiqua", Georgia, serif;
	font-style: italic;
	margin-bottom: 10px;
}