.classpath
.project
.scala_dependencies
.history
.target
.cache
*.db
.DS_store
lib/ojdbc14.jar
project/boot
project/plugins/project
project/target
project/project
target
lift-sbt-quickstart.sublime-project
lift-sbt-quickstart.sublime-workspace
